{% set html_tag = button|default(false) ? 'button' : (href|default(false) ? 'a' : 'div') %}
{% set hrefAttr = href|default(false) ? "href=" ~ href %}
{% set dataPopupAttribute = dataPopup|default(false) ? "data-popup=" ~ dataPopup|json_encode() %}
{% set dataUrlAttr = dataUrl|default(false) ? "data-url=" ~ dataUrl %}
{% set dataMethodAttr = dataTMethod|default(false) ? "data-method=" ~ dataTMethod %}
{% set dataCallbackAttr = dataCallback|default(false) ? "data-callback=" ~ dataCallback %}
{% set dataExceptionAttr = dataException|default(false) ? "data-exception=" ~ dataException|json_encode() %}

<{{html_tag}}
    class="btn-style{{ mod|default(false) ? ' ' ~ mod }}"
    {{ dataPopupAttribute }}
    {{ dataUrlAttr }}
    {{ dataMethodAttr }}
    {{ dataCallbackAttr }}
    {{ hrefAttr }}
    {{ dataExceptionAttr }}
    {{ dataAttr|default('') }}
>
    <span class="btn-style__text {{ textMod|default('button1') }}">
        {% if text|default(false) %}
            {{ text }}
        {% elseif toggleTextInitial and toggleTextActive %}
            <span class="toggle-text-initial">{{ toggleTextInitial }}</span>
            <span class="toggle-text-active">{{ toggleTextActive }}</span>
        {% endif %}
    </span>
</{{html_tag}}>