{% set dropdownButtonScrollJsMod = scroll|default(false) ? 'js-smooth-scroll' : '' %}
{% set dropdownButtonScrollStyleMod = scroll|default(false) ? '_scroll-padding' : '' %}
{% set dataPropsAttribute = dataProps|default(false) ? "data-props=" ~ dataProps|json_encode() %}
{% set dataMaxHeightSettingsAttr = maxHeightSettings|default(false) ? "data-mh-settings=" ~ maxHeightSettings|json_encode %}

{% set dataEnableScrollBpAttr = enableScrollBp|default(false) ? "data-scroll-enable-bp=" ~ enableScrollBp %}
{% set dataDisableScrollBpAttr = disableScrollBp|default(false) ? "data-scroll-disable-bp=" ~ disableScrollBp %}

<div class="dropdown-button {{ wrapMod|default('') }} js-dropdown-button" {{ dataPropsAttribute }}>
    <div class="dropdown-button__text js-toggle-active {{ textWrapMod|default('js-bcc') }}" {{ textWrapCustomAttr|default('') }}>
        <span class="dropdown-button__placeholder {{ textMod|default('small-text_bold') }}">{{
            placeholder|default('')
        }}</span>

        <span class="dropdown-button__selected {{ textMod|default('small-text_bold') }} js-dropdown-selected"></span>
    </div>

    <div class="dropdown-button__popup {{ popupMod|default('') }} {{ dropdownButtonScrollStyleMod }} js-bcc-sibling js-dropdown-popup"
        {{ dataMaxHeightSettingsAttr }}
    >
        <div
            class="dropdown-button__{{ scroll|default(false) ? 'scroll' : 'inner' }} {{ scrollMod|default('') }} {{ dropdownButtonScrollJsMod }}"
            {{ dataEnableScrollBpAttr }}
            {{ dataDisableScrollBpAttr }}
        >
            {% block dropdown_content %}{% endblock %}
        </div>
    </div>
</div>
