{% block content %}
    <nav class="navbar">
        <div class="navbar__item mb20">
            <a href="/" class="navbar__link link-light-gray h4">Home</a>
        </div>
        <div class="navbar__item mb20">
            <a href="{{ path('listings_map', {location: 'Vancouver,BC'}) }}"
               class="navbar__link link-light-gray h4">Map</a>
        </div>
        <div class="navbar__item mb20">
            <a href="{{ path('contact_us') }}" class="navbar__link link-light-gray h4">Contact Us</a>
        </div>
        <div class="navbar__item mb20">
            <a href="{{ path('how-it-works') }}" class="navbar__link link-light-gray h4">How It Works</a>
        </div>
        <div class="navbar__item mb20">
            <a href="{{ path('selling') }}" class="navbar__link link-light-gray h4">Selling</a>
        </div>
        <div class="navbar__item mb20">
            <a href="{{ path('buying') }}" class="navbar__link link-light-gray h4">Buying</a>
        </div>
        <div class="navbar__item mb20">
            <a href="{{ path('sitemap') }}" class="navbar__link link-light-gray h4">Sitemap</a>
        </div>
        {#        <div class="navbar__item mb20"> #}
        {#            <a href="{{ path('browse-by-street') }}" class="navbar__link link-light-gray h4">Browse By Street</a> #}
        {#        </div> #}
        <div class="navbar__item mb20">
            <a href="{{ path('assessment') }}" class="navbar__link link-light-gray h4">Assessment</a>
        </div>
        <div class="navbar__item mb20">
            <a href="{{ path('price-your-home') }}" class="navbar__link link-light-gray h4">Price Your Home</a>
        </div>
        <!-- Right navbar links -->
    </nav>
{% endblock %}