<section id="svg-map" class="svg-map js-svg-map {{ wrapMod ?? 'mb100' }}">
    <div class="svg-map__container {{ containerMod ?? 'container' }}">
        {% if title|default(false) %}
            {% include 'layouts/common/title-block.html.twig' with {
                tag: titleTag|default('h2'),
                text: title,
            } only %}
        {% endif %}

        <div class="svg-map-links mb30">
            <div class="svg-map-links__list mtr10">
                {% for item in cities|default(false) %}
                    <a
                        href="{{ item.href|default("#") }}"
                        class="svg-map-links__item mt10 js-svg-map-link"
                        data-id="{{ item.city }}"
                    >
                        <span class="svg-map-links__text small-text_bold">{{ item.city }}</span>
                        <span class="svg-map-links__label small-text">{{ item.count ~ ' Homes for sale' }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div
            class="svg-map__wrap mb40 js-lazy"
            data-loader="inlineSvg"
            data-src="{{ asset('build/images/svg-map-second-version.svg') }}"
            data-trigger="trigger:init-svg-map"
        ></div>

        {% include 'layouts/modules/collapse-list.html.twig' with {
            buttonText: 'Find homes in other areas',
            list: otherAreas,
        } only %}
    </div>
</section>
