{% extends 'admin/base.html.twig' %}

{% block title %}user{% endblock %}

{% block body %}
    <div class="content-header">
        <h1 class="text-dark">User: {{ user.username }}</h1>
    </div>

    <div class="content px-2">
        <div class="card card-primary card-outline">
            <div class="card-body">
                <table class="table table-bordered table-hover mb-3">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    </tbody>
                </table>

                <a class="btn btn-primary" href="{{ path('admin_edit', {'id': user.id}) }}" hreflang="en">edit</a>
                <a class="btn btn-light" href="{{ path('admin_list') }}" hreflang="en">back to list</a><br>
            </div>
        </div>

        {{ include('admin/user_list/admin_users/_delete_form.html.twig') }}
    </div>
{% endblock %}